.table {
  border: 2px solid #afafaf;
}

.body_list {
  display: flex;
  justify-content: space-between;
  border: 1px solid #afafaf;
}

.body_list > * {
  width: calc(100% / 1 / 5);
  border: 1px solid black;
}

.body_list > input {
  border: 1px solid #afafaf;
}

.btn_box {
  text-align: center;
}

.btn_box > button {
  width: 100px;
  height: 40px;
}
