.title {
    text-align: center;
}

.title > input {
    width: 100%;
    height: 50px;
}

.content {
    text-align: center;
}

.content > input {
    width: 100%;
    height: 200px;
}

.btn_box {
    text-align: center;
}

.btn_box > button {
    width: 100px;
    height: 40px;
}